name: llvmbindings

on:
  push:
    paths:
      - '.github/workflows.llvmbindings.yml'
      - 'llvmbindings.js'
  schedule:
    - cron: '0 */8 * * *'

jobs:
  build:
    name: Node.js ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15, macos-11, macos-12]
        node: [16, 17]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
        check-latest: true
    - name: Install
      run: |
        node llvmbindings.js
